<div class="row">
	<div class="col-md-12">
		<h1>Pages#home</h1>
		<p>Find me in app/views/pages/home.html.erb</p>
	</div>
</div>


<script>
  $.backstretch(["<%= asset_path 'back1.jpg' %>"
  , "<%= asset_path 'back2.jpg' %>"
  , "<%= asset_path 'back3.jpg' %>"
  ], {duration: 3000, fade: 750});
</script>